<ul>
  <li><a routerLink="counter">Counter</a></li>
  <li><a routerLink="product">Product</a></li>
  <li><a routerLink="book">Book</a></li>
</ul>


<router-outlet></router-outlet>




<!-- {{ product$ | async | json}} -->

<hr>
<!-- <h2>Books</h2>
<p>Le paso los libros en books$ como asincrono </p>
<app-book-list class="book-list" [books]="books$ | async" (add)="onAdd($event)"></app-book-list>

<h2>My Collection</h2>
<app-book-collection class="book-collection" [books]="bookCollection$ | async" (remove)="onRemove($event)">
</app-book-collection> -->
